<!-- Footer -->
<!-- <footer class="page-footer font-small bg-light pt-4 fixed-bottom text-dark"> -->
<footer class="bd-footer py-5 mt-5 bg-light">
<!-- <footer class="footer mt-auto py-3 my-4 border-top sticky-bottom" style="background-color: #e9ecef;"> -->
    <!-- <hr class="clearfix w-100 d-md-none pb-3"> -->

    <!-- Grid column -->
    <!-- <div class="col-md-6 mb-md-0 mb-3"> -->
<div class="container text-muted">
      <!-- Content -->
      <h5 class="text-uppercase font-weight-bold text-center">Cowin Dashboard</h5>
      <p class=" text-center ">This website is developed by Ayushi Verma, Student of Delhi Technological University, 2023 batch, to assist people to find COVID vaccination centers in their districts.It displays all 
        relevant details to get themselves vaccinated against COVID-19. This dashboard uses the COWIN public APIs to get real 
        time information about all vaccination centers in INDIA.
      </p>

    </div>
  
<!-- <div class="footer-copyright text-center py-3 bg-dark text-light">
   <i class="fa fa-envelope mr-3" aria-hidden="true"></i>ayushi.verma@gmal.com
</div> -->

<!-- </div> -->
    

</footer>
